html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* **************************************************** */

html {
	background-color:rgba(0, 0, 0, 0.865);
}
img {
	width: 100%;
}
.outer-container {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
.main {
	display: flex;
    height: 50vh;
	max-width: 1000px;
    justify-content: space-evenly;
    align-items: center;
	background-image: url('./ball_through_hoop.jpg');
	min-height: 800px;
}
.left {
	display: flex;
	justify-content: center;
	/* background-color: rgba(171, 171, 171, 0.242); */
	width: 50%
}
html {
	font-family: 'Syne', sans-serif;
	color: #000;
}
label {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: .8rem;
	color: #7b7b7b;
	width: 100%;
}
input {
	width: 85%;
	border-color: #E5E7EB;
}
.row {
	display: flex;
	/* gap: 20px; */
	flex-wrap: wrap;
	width: 100%;
	padding: .5vw;
	padding-left: 40px;
}
.top-right {
	margin-bottom: 1vw;
	max-width: 90%;
}
.top-right:first-child {
	font-size: 1.2rem;
	text-shadow:-1px -1px 0 rgba(237, 236, 236, 0.598),
    1px -1px 0 rgba(237, 236, 236, 0.598),
    -1px 1px 0 rgba(237, 236, 236, 0.598),
    1px 1px 0 rgba(237, 236, 236, 0.598);
}
.col {
	width: 46%;
}
.middle {
	background-color: rgba(237, 236, 236, 0.598);
	padding: 20px 0;
	box-shadow: 0 8px 6px -5px gray;
	max-width: 90%;
	display: flex;
	flex-direction: column;
}

button {
	padding: 8px;
	width: 100%;
	max-width: 150px;
	border: none;
	background-color: #17408B;
	border-radius: 6px;
	justify-content: flex-start;
	color: #fff
}
.bottom > *,
.top-right > *{
	margin-top: 1.5vw;
}
.bottom {
	display: flex;
	flex-direction: column;
}
.bottom:last-child {
	width: 100%;
}
.right{
	/* background-color: rgb(215, 215, 215); */
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: 1000px) {
	.outer-container {
	display: flex;
	flex-direction: column;
	}
	.main {
		/* background-color: rgb(215, 215, 215); */
		justify-content: space-around;
		flex-direction: column;
	}
	.left {
		display: flex;
		justify-content: center;
		flex-direction: center;
		top: 1px;
	}
	.right {
		display: flex;
	}
	.right:last-child {
		justify-content: space-around;
	}
	.top-right:first-child {
		font-size: 1.1rem;
	}
	.top-right {
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	img {
		width: 75%;
		position: relative;
		top: 15px;
	}
	.image {
		display: flex;
		justify-content: center;
	}
	.row {
		display: inline-block;
		padding-left: 10px;
	}
	.col {
		width: 100%;
	}
	input {
		width: 95%;
	}
	.col.bottom {
		padding-top: 30px;
	}
	.bottom > *,
	.top-right > *{
		margin-top: 2vw;
	}
	.top-right:first-child {
		padding-top: 10px;
	}
}
